.horizontal-menu .top-navbar {
    background: #fff;
    border: none;
    color: #000;
    height: 80px;
}

@media (max-width: 992px) {
    .horizontal-menu .top-navbar {
        height: 60px;
        box-shadow: 0 19px 34px -15px #e9ecef;
        -webkit-box-shadow: 0 19px 34px -15px #e9ecef;
    }
}

.search {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-left: 20px !important;
    background: #e9ecef !important;
    color: #686868 !important;
    min-width: 550px !important;
    max-width: 100% !important;
}

.search::placeholder {
    color: #bababa !important;
    font-weight: 500;
}

.btn-search {
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    background: #e9ecef;
}

.dropdown .dropdown-toggle:after {
    color: #686868;
}

.navbar-toggler,
span {
    color: #686868;
}

.horizontal-menu .bottom-navbar {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.main-panel {
    background: #fff;
}

@media (max-width: 991.98px) {
    .horizontal-menu .bottom-navbar.header-toggled {
        border: 1px solid rgba(0, 0, 0, 0.125);
        padding: 15px 0px;
    }
    .horizontal-menu .bottom-navbar .page-navigation > .nav-item > .nav-link {
        padding: 15px 0px !important;
    }
}

.horizontal-menu .bottom-navbar .page-navigation {
    -webkit-justify-content: center;
    justify-content: center;
}

.horizontal-menu
    .bottom-navbar
    .page-navigation
    > .nav-item
    > .nav-link
    .menu-title {
    font-weight: 700;
    font-size: 15px;
}

.horizontal-menu .bottom-navbar .page-navigation > .nav-item > .nav-link {
    padding: 25px;
}

.card {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 0 15px rgb(28 39 60 / 10%);
}

.card-no-border {
    border: none;
}

.card-people .weather-info {
    left: 40px;
    top: 30px;
}

.card-people img {
    border-radius: 8px;
    object-fit: cover;
    height: 250px;
    width: 100%;
}

.book {
    border-radius: 8px;
    object-fit: cover;
    height: 215px;
    width: 100%;
}

.book-detail {
    border-radius: 8px;
    object-fit: cover;
    height: 240px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 0 15px rgb(28 39 60 / 10%);
}

.pengarang {
    height: 160px;
    width: 160px;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 0 15px rgb(28 39 60 / 10%);
}

@media (max-width: 576px) {
    .book {
        height: 250px;
    }
}

.badge-pengarang {
    background-color: rgba(75, 73, 172, 0.2) !important;
    margin-bottom: 6px;
}

.footer {
    background: #fff;
}
